{% extends "layout.html" %}

{% block page_title %}
  CS Jobs - Nationality Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
  <div class="column-one-quarter">
  <nav class="nav-side">
  <p class="heading-small">Options:</p>
  <a href="/reserved">Reserved</a>
  <a href="/reserved_plus">Reserved (no dual nationals)</a>
  <a href="/non-reserved">Non reserved</a>
  <a href="/non-reserved_plus">Non-reserved (with indefinate leave to remain)</a>
  </nav>
  </div>
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Eligibility
      </h1>
      <h2 class="heading-large">Nationality</h2>
      <p>This job is open to citizens from the following countries and assosciation of countries:</p>
      <ul class="list list-bullet">
        <li>United Kingdom</li>
        <li>Republic of Ireland</li>
        <li><a href="http://thecommonwealth.org/member-countries" target="_blank">Commonwealth</a></li>
        <li><a href="https://www.gov.uk/eu-eea" target="_blank">European Economic Area (EEA)</a></li>
        <li>Switzerland</li>
        <li>Turkey</li>
      </ul>
      <p>Certain family members of EEA, Swiss and Turkish nationals are also eligible.</p>
      <p>You must have indefinate leave to remain in the UK.</p>
      <p>For further detials, see the <a href="https://www.gov.uk/government/publications/nationality-rules" target="_blank">Civil Service Nationality Rules</a>.</p>
      <form>
  <div class="form-group question-one">
    <fieldset class="inline">

      <legend>
        <h3 class="heading-medium">
          Do you meet the nationality requirements?
        </h3>
      </legend>

      <div class="multiple-choice">
        <input id="nationality-1" type="radio" name="radio-inline-group-1" value="Yes">
        <label for="nationality-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="nationality-2" type="radio" name="radio-inline-group-1" value="No">
        <label for="nationality-2">No</label>
      </div>

    </fieldset>
  
  <div class="question-two">
  <div class="panel panel-border-narrow">
    <fieldset class="inline">

      <legend>
        <h3 class="heading-medium">
          Do you have indefinate leave to remain?
          <span class="form-hint">This means you can stay in the UK without any time restrictions</span>
        </h3>
      </legend>

      <div class="multiple-choice">
        <input id="dual-1" type="radio" name="radio-inline-group-2" value="Yes">
        <label for="dual-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="dual-2" type="radio" name="radio-inline-group-2" value="No">
        <label for="dual-2">No</label>
      </div>

    </fieldset>
    </div>
  </div>
 </div>
  <input class="button" type="submit" value="Save and continue">
</form>
</main>

{% endblock %}