{% extends "layout.html" %}

{% block page_title %}
  CS Jobs - Nationality Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
  <div class="column-one-quarter">
  <nav class="nav-side">
  <p class="heading-small">Options:</p>
  <a href="/reserved">Reserved</a>
  <a href="/reserved_plus">Reserved (no dual nationals)</a>
  <a href="/non-reserved">Non reserved</a>
  <a href="/non-reserved_plus">Non-reserved (with indefinate leave to remain)</a>
  </nav>
  </div>
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Eligibility
      </h1>
      <h2 class="heading-large">Nationality</h2>
      <p>This job is open to citizens from the following countries and association of countries:</p>
      <ul class="list list-bullet">
        <li>United Kingdom</li>
        <li>Republic of Ireland</li>
        <li><a href="http://thecommonwealth.org/member-countries" target="_blank">Commonwealth</a></li>
        <li><a href="https://www.gov.uk/eu-eea" target="_blank">European Economic Area (EEA)</a></li>
        <li>Switzerland</li>
        <li>Turkey</li>
      </ul>
      <p>Certain family members of EEA, Swiss and Turkish nationals are also eligible.</p>
      <p>For further details, see the <a href="https://www.gov.uk/government/publications/nationality-rules" target="_blank">Civil Service Nationality Rules</a>.</p>
      <form>
  <div class="form-group question-one">
    <fieldset class="inline">

      <legend>
        <h3 class="heading-medium">
          Do you meet the nationality requirements?
        </h3>
      </legend>

      <div class="multiple-choice">
        <input id="nationality-1" type="radio" name="radio-inline-group-1" value="Yes">
        <label for="nationality-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="nationality-2" type="radio" name="radio-inline-group-1" value="No">
        <label for="nationality-2">No</label>
      </div>

    </fieldset>
  </div>
        <p></p>
              <h2 class="heading-large">Immigration</h2>
        <div class="form-group question-three">
    <fieldset class="inline">

      <legend>
        <h3 class="heading-medium">
            Do you have the permanent right to live and work in the UK?
          <span class="form-hint">That is, without time or other restrictions.</span>
        </h3>
      </legend>

      <div class="multiple-choice">
        <input id="remain-1" type="radio" name="radio-inline-group-3" value="Yes">
        <label for="remain-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="remain-2" type="radio" name="radio-inline-group-3" value="No">
        <label for="remain-2">No</label>
      </div>
    </fieldset>
  
  <div class="question-four">
  <div class="panel panel-border-narrow">
  <label class="form-label" for="textarea">
  Provide full details, including visa type, visa expiry date and any restrictions/conditions on your residency or right to work in the UK
</label>
<textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>
</div>
</div>
</div>
  <input class="button" type="submit" value="Save and continue">
</form>
</main>

{% endblock %}


